@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(209, 191, 111);
    font-family: Oswald, sans-serif;
}

.sidenav{
    background-color: rgb(209, 191, 111);
}

nav ul a {
    color: black;
}

.container {
   min-width: 100%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(24, 24, 24, 0.5);
}

.brand-logo {
    font-family: Ephesis, sans-serif ;
}

.btn-small {
    margin: 10px;
    align-content: space-around;
    
}

.card.small {
    height: 200px;
}

a .btn-done .btn-edit {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

