{% extends "base.html" %}
{% block content %}

    <h3 class="brown-text center-align">Add your Services</h3>
 <!---add services form-->
    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="">
            <div class="row">
                 <!---category-->
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Category</label>
				</div>
			</div>
            <div class="row">
                 <!---name-->
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix orange-text text-darken-4"></i>
                    <input id="your_name" name="your_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="your_name">Enter Your Name</label>
                </div>
            </div>
            <div class="row">
                 <!---job description-->
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix orange-text text-darken-4"></i>
                    <textarea id="job_description" name="job_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="job_description">Job Description</label>
                </div>
            </div>
            <div class="row">
                 <!---contact-->
                <div class="input-field col s12">
                    <i class="fas fa-phone left prefix orange-text text-darken-4"></i>
                    <input id="contact_us" name="contact_us" type="tel" minlength="9" maxlength="13" class="validate" required>
                    <label for="contact_us">Contact Number</label>
                </div>
            </div>
            <div class="row">
                 <!---email-->
                <div class="input-field col s12">
                   <i class="fa-solid fa-at left prefix orange-text text-darken-4"></i> 
                  <input id="email_us" name="email_us" type="email" class="validate" required>
                  <label for="email_us">Email</label>
                </div>
            </div>
            <div class="row">
                 <!---date-->
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix orange-text text-darken-4"></i>
                    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                    <label for="due_date">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large orange darken-4 text-shadow">
                        Add Task <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}