{% extends "base.html" %}
{% block content %}

    <h3 class="grey-darken-3-text text-darken-4 center-align">Edit your Services</h3>

    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_service', service_id=service._id) }}">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == service.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Category</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                     <!---name-->
                    <i class="fas fa-pencil-alt prefix orange-text text-darken-4"></i>
                    <input id="your_name" name="your_name" minlength="5" maxlength="50"
                        value="{{ service.your_name }}" type="text" class="validate" required>
                    <label for="your_name">Enter Your Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                     <!---job description-->
                    <i class="fas fa-align-left prefix orange-text text-darken-4"></i>
                    <textarea id="job_description" name="job_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- service.job_description -}}
                    </textarea>
                    <label for="job_description">Job Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone left prefix orange-text text-darken-4"></i>
                     <!---contact-->
                    <input id="contact_us" name="contact_us" type="tel" minlength="9" maxlength="13" value="{{- service.contact_us -}}" class="validate" required>
                    <label for="contact_us">Contact Number</label>
                </div>
            </div>
            <div class="row">
                 <!---email-->
                <div class="input-field col s12">
                   <i class="fa-solid fa-at left prefix orange-text text-darken-4"></i> 
                  <input id="email_us" name="email_us" type="email" value="{{- service.email_us -}}" class="validate" required>
                  <label for="email_us">Email</label>
                </div>
            </div>
            <div class="row">
                 <!---date-->
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix orange-text text-darken-4"></i>
                    <input id="due_date" name="due_date"  value="{{ service.due_date }}" type="text" class="datepicker validate" required>
                    <label for="due_date">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('home') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue lighten-1 btn-edit">
                        Edit Task <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}